<h1>Student drop_school</h1>
<p>
  Goodbye, WHU!
</p>
<p>
  it is <%=@time %> now.
  <br>
  <b>Maybe I should start to leave!</b>
</p>
<p>
  <%=link_to "drop_school" , student_drop_school_path%>
</p>
